body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1f2937;
  color: #f9faf8;
  padding: 24px 72px 24px 72px;
}

.logo {
  width: 90px;
  height: 90px;
}

.section-list {
  display: flex;
  justify-content: space-around;
  width: 50%;
}

.hero {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 24px 72px 24px 72px;
  background: #1f2937;
}

.hero .hero-left {
  display: flex;
  flex-flow: column wrap;
  width: 50%;
}

.hero h1 {
  font-size: 48px;
  font-weight: 900;
  margin: 0px;
  color: #f9faf8;
}

.button {
  width: fit-content;
  padding: 10px 20px 10px 20px;
  border: 0;
  background-color: #3882f6;
  color: #f9faf8;
  font-weight: bold;
  border-radius: 8px;
}

.hero p {
  width: 80%;
  font-size: 16px;
  color: #e5e7eb;
}

.hero img {
  width: 550px;
  height: 300px;
}

.main-container #section-title {
  padding: 24px 72px 24px 72px;
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
  text-align: center;
}

.img-container {
  padding: 24px 72px 24px 72px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 30px;
}

.img-item {
  width: 250px;
}

.img-item img {
  width: 100%;
  height: auto;
}

.img-item p {
  text-align: center;
  font-size: 18px;
}

.qoute-container {
  padding: 24px 72px 24px 72px;
  background: #e5e7eb;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.qoute-container #user-qoute {
  padding: 24px 72px 24px 72px;
  width: auto;
  font-size: 36px;
  font-style: italic;
  font-weight: lighter;
  color: #1f2937;
}

.qoute-container p {
  padding-right: 72px;
  text-align: end;
  margin: 0;
  font-weight: bold;
}

.signup-container {
  padding: 50px 100px 50px 100px;
  margin: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #3882f6;
  border-radius: 10px;
}

.signup-left-section {
  width: 70%;
  color: #f9faf8;
}

.signup-right-section {
  display: flex;
  justify-content: center;
  height: fit-content;
}

#signup-text-title {
  font-weight: bold;
  font-size: 24px;
}

#signup-text {
  margin-top: 5px;
  font-size: 18px;
  color: #e5e7eb;
}

.signup-button {
  border: 1px solid #f9faf8;
}

.footer {
  display: flex;
  justify-content: center;
  color: #e5e7eb;
  background: #1f2937;
  padding: 25px;
}
